<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>ぜんぶみる</title>
</head>

<body>
    <h1>すべてのタイムライン</h1>

    <a href="./edit_user.html">ログイン中のユーザー情報</a>
    <a href="./users.html">登録ユーザー一覧</a>



    <div>
        <ul id="all_users"></ul>
        <input id="text" type="text">
        <a class="sign_up" onclick="new_text()">ツイートする</a>
    </div>

    <script src="../javascript/main.js"></script>
    <script>
        all_timeline();
        console.log(localStorage);
    </script>
</body>

</html>


























<div id="posts_area">
    <p></p>
</div>