<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>テキスト消す</title>
</head>

<body>
    <h1>テキスト消す</h1>

    <label>消したいid</label>
    <input id="del_text" type="text" value="a">

    <a class="sign_up" onclick="del_text()">テキスト消す</a>


    <script src="../javascript/main.js"></script>
    <script>
        console.log(localStorage);
    </script>
</body>

</html>