<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>login</title>
</head>

<body>
    <h1>login</h1>

    <div class="box">
        <label>めーるあどれす</label>
        <input id="user_email" type="text">
        <label>ぱすわーど</label>
        <input id="user_password" type="password" value="a">
        <label>ぱすわーど(もういちど)</label>
        <input id="user_password_confirmation" type="password" value="a">

        <a class="login_btn" onclick="login_user()">ログイン</a>
        <div id="logout"></div>
    </div>

    <div class="login_btn_box">
        <a class="move_login" href="./index.html">ユーザー登録</a>
    </div>



    <script src="../javascript/main.js"></script>
    <script>
        if (localStorage.token !== undefined && localStorage) {
            console.log("ログイン中です");
            // document.querySelector("#logout").innerHTML = '<p>ログインなう</p>'
        }
        console.log(localStorage);
    </script>
</body>

</html>