<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>タイムライン</title>

</head>

<body>
    <h1>タイムライン一覧</h1>

    <div>
        <ul id="timeline"></ul>
    </div>


    <a class="sign_up" onclick="back_users()">もどる</a>

    <script src="../javascript/main.js"></script>
    <script>
        timeline();
        // console.log(localStorage.id);
        console.log(localStorage);
    </script>
</body>

</html>